@model IEnumerable<Cahnite.Models.Project>

@{
    ViewBag.Title = "Creating Solutions w/ Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <h1>Kurt Strecker</h1>
    <h3 class="gserif">Creating Solutions with Code</h3>
</div>

<div class="container-fluid">
    
@foreach (var project in Model)
{
    <div class="col-sm-4">
        <a href="@Url.Action("Details", "Projects", new { ID = project.ID })">
            <div class="text-center">
                <p>@Html.DisplayFor(p => project.Title)</p>
                <div class="text-center">
                    <img class="img-responsive center-block" src="@Html.DisplayFor(p => project.ImageUrl)" alt="testing-placeholder" />
                </div>
            </div>
        </a>
        <p class="center-block">@Html.DisplayFor(p => project.Intro)</p>
    </div>
}
    </div>
</div>


